*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'PT Sans', sans-serif;
    background: red;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.header{
    background: #fff;
    padding-bottom: 70px;
}
section{
    background: #fff;
}
.tourney{
    font-family: 'Tourney', cursive;
    color: #000;    
    font-size: 22px;
    font-weight: 600;
    line-height: 18px; 
    letter-spacing: 0.88px;
    margin-right: 50px;
    
}
.staatliches{
    font-family: 'Staatliches', cursive;
    color: #000;    
    font-size: 22px;    
    letter-spacing: 0.66px;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
}
.chapter{
    color: #000;    
    font-family: 'Farro', sans-serif;
    font-size: 30px;    
    font-weight: 300;    
    letter-spacing: 1.2px
    
}
.title{
    color: #000;
    font-family: 'Francois One', sans-serif;
    font-size: 36px;   
    line-height: 48px; 
    letter-spacing: 1.44px;
    text-transform: uppercase;
    padding-bottom: 40px;
}
.main-text{
    color: #000;    
    font-size: 28px;    
    line-height: 48px;  
    padding-bottom: 70px;  
}
.padding-40{
    padding-bottom: 40px;
}
.underline{
    text-decoration-line: underline;
}
.italic{
    font-style: italic;
}
.bold{
    font-weight: 700;
}
.code{    
    background: rgb(160, 158, 158);
    padding: 5px 0;
}
.svg{
    width: 25px;
}