body {
  background: #fff;
  font-family: "Roboto", sans-serif;
}

.section {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(9, 300px);
  gap: 30px;
}

.image {
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.full-card {
  position: relative;
  animation-name: "animate";
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}
.full-card .front {
  background: #fff;
  border: 1px solid #000;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.full-card .front .header-card {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.full-card .front .header-card .number-card {
  margin-left: 4px;
}
.full-card .front .header-card .ten {
  margin-left: -2px;
}
.full-card .front .number-card {
  color: #f00;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.full-card .front .black {
  color: #000;
}
.full-card .front .central {
  text-align: center;
}

.full-card.active .image {
  animation-name: "animate";
  transform: rotateY(180deg);
}

.full-card.active .front {
  animation-name: "animate";
  transform: rotateY(0deg);
}

.front, .image {
  position: absolute;
  transition: all 2s ease;
}

.full-card:hover .image {
  transform: rotateY(180deg);
}

.full-card:hover .front {
  transform: rotateY(0deg);
}

.image {
  backface-visibility: hidden;
  border: 1px solid #000;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  transform: rotateY(0deg);
}

.king {
  position: relative;
}

.king svg {
  position: absolute;
  top: -90px;
}

.w-h40 {
  width: 200px;
  height: 58px;
}

.bottom {
  transform: rotate(-180deg);
}

@keyframes animate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
}