
.container{
    margin: 0 auto;
    max-width: 1000px;
    background: url('../images/92_naruto.jpg') no-repeat;
    min-height: 563px;      
}
.home-work{
    list-style: none;
    

}
h1{
    color: aliceblue;
}
.hw-number{
    text-decoration: none;
    color: aliceblue;
}
.main-hw-number{
    display: flex;
    text-decoration: none;
    margin-left: 155px;
    margin-top: 95px;
    color: red;
    font-weight: 700;
    border: solid 2px none;
    width: 60px;
    height: 60px;
    padding-left: 20px;
    padding-right: 14px;
    padding-top: 35px;
    border-radius: 50%;

    
    
    
}